In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
import warnings
warnings.filterwarnings("ignore")

awards = pd.read_csv("data/awards_data.csv")
player_data = pd.read_csv("data/player_stats.csv")
team_data = pd.read_csv("data/team_stats.csv")
rebounding_data = pd.read_csv("data/team_rebounding_data_22.csv")

## player_data part

First of all, we will inspect the data.

In [4]:
player_data

,nbapersonid,player,draftyear,draftpick,season,nbateamid,team,games,games_start,mins,...,blk_pct,tov_pct,usg,OWS,DWS,WS,OBPM,DBPM,BPM,VORP
0,2585,Zaza Pachulia,2003,42.0,2007,1610612737,ATL,62,5,944,...,0.010,0.181,0.183,0.2,0.9,1.1,-3.9,-1.3,-5.1,-0.7
1,200780,Solomon Jones,2006,33.0,2007,1610612737,ATL,35,0,145,...,0.026,0.221,0.156,-0.1,0.1,0.0,-6.7,-2.0,-8.8,-0.2
2,2746,Josh Smith,2004,17.0,2007,1610612737,ATL,81,81,2873,...,0.059,0.155,0.250,1.2,4.6,5.8,0.5,2.5,3.0,3.7
3,201151,Acie Law,2007,11.0,2007,1610612737,ATL,56,6,865,...,0.000,0.178,0.165,-0.5,0.4,-0.1,-4.2,-1.0,-5.2,-0.7
4,101136,Salim Stoudamire,2005,31.0,2007,1610612737,ATL,35,0,402,...,0.009,0.094,0.252,0.1,0.1,0.3,-1.0,-2.5,-3.5,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,1630648,Jordan Schakel,2021,NaN,2021,1610612764,WAS,4,0,30,...,0.000,0.078,0.191,-0.2,0.0,-0.1,-8.6,-4.4,-13.0,-0.1
8488,1630557,Corey Kispert,2021,15.0,2021,1610612764,WAS,77,36,1801,...,0.010,0.085,0.146,1.6,0.7,2.3,-0.8,-1.5,-2.3,-0.1
8489,1628398,Kyle Kuzma,2017,27.0,2021,1610612764,WAS,66,66,2204,...,0.022,0.141,0.242,0.0,2.0,2.0,0.2,-0.4,-0.2,1.0
8490,203526,Raul Neto,2013,47.0,2021,1610612764,WAS,70,19,1372,...,0.002,0.139,0.184,0.7,0.8,1.5,-2.5,-0.5,-3.0,-0.4
8491,1628418,Thomas Bryant,2017,42.0,2021,1610612764,WAS,27,9,439,...,0.041,0.103,0.187,0.7,0.4,1.1,-0.4,-0.7,-1.0,0.1

Then let's understand its structure and dectct any missing values.

In [54]:
print(player_data.isnull().sum())
player_data.dtypes

nbapersonid       0
player            0
draftyear         0
draftpick      1763
season            0
nbateamid         0
team              0
games             0
games_start       0
mins              0
fgm               0
fga               0
fgp              54
fgm3              0
fga3              0
fgp3           1044
fgm2              0
fga2              0
fgp2            115
efg              54
ftm               0
fta               0
ftp             490
off_reb           0
def_reb           0
tot_reb           0
ast               0
steals            0
blocks            0
tov               0
tot_fouls         0
points            0
PER               0
FTr              54
off_reb_pct       0
def_reb_pct       0
tot_reb_pct       0
ast_pct           0
stl_pct           0
blk_pct           0
tov_pct          45
usg               0
OWS               0
DWS               0
WS                0
OBPM              0
DBPM              0
BPM               0
VORP              0
dtype: int64

nbapersonid      int64
player          object
draftyear        int64
draftpick      float64
season           int64
nbateamid        int64
team            object
games            int64
games_start      int64
mins             int64
fgm              int64
fga              int64
fgp            float64
fgm3             int64
fga3             int64
fgp3           float64
fgm2             int64
fga2             int64
fgp2           float64
efg            float64
ftm              int64
fta              int64
ftp            float64
off_reb          int64
def_reb          int64
tot_reb          int64
ast              int64
steals           int64
blocks           int64
tov              int64
tot_fouls        int64
points           int64
PER            float64
FTr            float64
off_reb_pct    float64
def_reb_pct    float64
tot_reb_pct    float64
ast_pct        float64
stl_pct        float64
blk_pct        float64
tov_pct        float64
usg            float64
OWS            float64
DWS            float64
WS             float64
OBPM           float64
DBPM           float64
BPM            float64
VORP           float64
dtype: object

In [55]:
print(player_data.columns)

Index(['nbapersonid', 'player', 'draftyear', 'draftpick', 'season',
       'nbateamid', 'team', 'games', 'games_start', 'mins', 'fgm', 'fga',
       'fgp', 'fgm3', 'fga3', 'fgp3', 'fgm2', 'fga2', 'fgp2', 'efg', 'ftm',
       'fta', 'ftp', 'off_reb', 'def_reb', 'tot_reb', 'ast', 'steals',
       'blocks', 'tov', 'tot_fouls', 'points', 'PER', 'FTr', 'off_reb_pct',
       'def_reb_pct', 'tot_reb_pct', 'ast_pct', 'stl_pct', 'blk_pct',
       'tov_pct', 'usg', 'OWS', 'DWS', 'WS', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

Then let's clean the players data by dropping and cleaning the null value

In [56]:
null_values_summary = player_data.isnull().sum()
columns_with_nulls = null_values_summary[null_values_summary > 0]
print(columns_with_nulls)

draftpick    1763
fgp            54
fgp3         1044
fgp2          115
efg            54
ftp           490
FTr            54
tov_pct        45
dtype: int64

Understanding the content, draftpick is not central to our anlaysis, so we will consider to drop the variable. The null values in fgp, fgp3, fgp2,efg, ftp, Ftr,tov_pct would be replaced with zeros. This accurately reflects that they had no impact in these specific areas, which is valuable information for our analysis.

In [57]:
player_data_clean = player_data.drop(columns=['draftpick'])
columns_to_replace_zeros = ['fgp', 'fgp3', 'fgp2', 'efg', 'ftp', 'FTr','tov_pct']
player_data_clean[columns_to_replace_zeros] = player_data_clean[columns_to_replace_zeros].replace(np.nan,0)

Then we can detect the duplicate rows.

In [58]:
duplicates = player_data_clean.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 11

In [59]:
duplicated_rows = player_data_clean[player_data_clean.duplicated()]
duplicated_rows

,nbapersonid,player,draftyear,season,nbateamid,team,games,games_start,mins,fgm,...,blk_pct,tov_pct,usg,OWS,DWS,WS,OBPM,DBPM,BPM,VORP
2729,203099,Jared Cunningham,2012,2012,1610612742,DAL,8,0,26,6,...,0.000,0.118,0.296,0.0,0.0,0.0,0.4,-1.9,-1.5,0.0
3140,203099,Jared Cunningham,2012,2013,1610612737,ATL,5,0,22,1,...,0.000,0.410,0.101,-0.1,0.0,-0.1,-9.0,-2.4,-11.4,-0.1
3608,203099,Jared Cunningham,2012,2013,1610612758,SAC,8,0,58,5,...,0.000,0.000,0.191,0.1,0.0,0.2,-3.7,2.4,-1.3,0.0
3911,203099,Jared Cunningham,2012,2014,1610612746,LAC,19,0,89,12,...,0.000,0.153,0.232,-0.1,0.1,0.0,-6.1,-2.0,-8.1,-0.1
4358,203099,Jared Cunningham,2012,2015,1610612739,CLE,40,3,355,32,...,0.005,0.138,0.166,-0.2,0.4,0.1,-5.5,0.0,-5.6,-0.3
4556,203099,Jared Cunningham,2012,2015,1610612749,MIL,4,0,55,4,...,0.000,0.149,0.164,-0.1,0.0,0.0,-5.3,-1.5,-6.8,-0.1
5658,1628476,Derrick Walton Jr.,2017,2017,1610612748,MIA,16,0,147,8,...,0.017,0.067,0.091,0.2,0.2,0.4,-1.1,2.4,1.3,0.1
6722,1628476,Derrick Walton Jr.,2017,2019,1610612765,DET,3,0,26,1,...,0.000,0.250,0.067,0.0,0.0,0.1,-2.9,4.7,1.8,0.0
6804,1628476,Derrick Walton Jr.,2017,2019,1610612746,LAC,23,1,222,17,...,0.000,0.091,0.083,0.4,0.2,0.5,-2.2,0.9,-1.3,0.0
7343,1629686,Deividas Sirvydis,2019,2020,1610612765,DET,20,0,133,14,...,0.000,0.105,0.157,-0.1,0.1,0.0,-4.5,-1.1,-5.6,-0.1
7407,1630199,Cassius Stanley,2020,2020,1610612754,IND,24,0,93,13,...,0.017,0.021,0.220,-0.2,0.1,-0.1,-7.0,-4.2,-11.2,-0.2

11 duplicated rows might indicate that the players have participated in different teams and games due to being traded, signed, or other reasons. This is an important observation.

In [61]:
# Convert all names to lower case and all team name to upper case
player_data_clean['player'] = player_data_clean['player'].str.lower()
player_data_clean['team'] = player_data_clean['team'].str.upper()
# convert some features name to a more readable form
player_data_clean = player_data_clean.rename(columns={'nbapersonid': 'personID'})
player_data_clean = player_data_clean.rename(columns={'player': 'name'})
player_data_clean = player_data_clean.rename(columns={'nbateamid': 'teamID'})
player_data_clean = player_data_clean.rename(columns={'games': 'game_played'})
player_data_clean = player_data_clean.rename(columns={'games_start': 'games_as_the_start'})# the number of games that the player played as the starting team

In [62]:
player_data_clean

,personID,name,draftyear,season,teamID,team,game_played,games_as_the_start,mins,fgm,...,blk_pct,tov_pct,usg,OWS,DWS,WS,OBPM,DBPM,BPM,VORP
0,2585,zaza pachulia,2003,2007,1610612737,ATL,62,5,944,107,...,0.010,0.181,0.183,0.2,0.9,1.1,-3.9,-1.3,-5.1,-0.7
1,200780,solomon jones,2006,2007,1610612737,ATL,35,0,145,12,...,0.026,0.221,0.156,-0.1,0.1,0.0,-6.7,-2.0,-8.8,-0.2
2,2746,josh smith,2004,2007,1610612737,ATL,81,81,2873,518,...,0.059,0.155,0.250,1.2,4.6,5.8,0.5,2.5,3.0,3.7
3,201151,acie law,2007,2007,1610612737,ATL,56,6,865,95,...,0.000,0.178,0.165,-0.5,0.4,-0.1,-4.2,-1.0,-5.2,-0.7
4,101136,salim stoudamire,2005,2007,1610612737,ATL,35,0,402,65,...,0.009,0.094,0.252,0.1,0.1,0.3,-1.0,-2.5,-3.5,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,1630648,jordan schakel,2021,2021,1610612764,WAS,4,0,30,1,...,0.000,0.078,0.191,-0.2,0.0,-0.1,-8.6,-4.4,-13.0,-0.1
8488,1630557,corey kispert,2021,2021,1610612764,WAS,77,36,1801,234,...,0.010,0.085,0.146,1.6,0.7,2.3,-0.8,-1.5,-2.3,-0.1
8489,1628398,kyle kuzma,2017,2021,1610612764,WAS,66,66,2204,423,...,0.022,0.141,0.242,0.0,2.0,2.0,0.2,-0.4,-0.2,1.0
8490,203526,raul neto,2013,2021,1610612764,WAS,70,19,1372,204,...,0.002,0.139,0.184,0.7,0.8,1.5,-2.5,-0.5,-3.0,-0.4
8491,1628418,thomas bryant,2017,2021,1610612764,WAS,27,9,439,77,...,0.041,0.103,0.187,0.7,0.4,1.1,-0.4,-0.7,-1.0,0.1

We will try to put all number type features into the list.

In [63]:
player_data_clean.select_dtypes(include=['float64', 'int64'])

,personID,draftyear,season,teamID,game_played,games_as_the_start,mins,fgm,fga,fgp,...,blk_pct,tov_pct,usg,OWS,DWS,WS,OBPM,DBPM,BPM,VORP
0,2585,2003,2007,1610612737,62,5,944,107,245,0.437,...,0.010,0.181,0.183,0.2,0.9,1.1,-3.9,-1.3,-5.1,-0.7
1,200780,2006,2007,1610612737,35,0,145,12,30,0.400,...,0.026,0.221,0.156,-0.1,0.1,0.0,-6.7,-2.0,-8.8,-0.2
2,2746,2004,2007,1610612737,81,81,2873,518,1133,0.457,...,0.059,0.155,0.250,1.2,4.6,5.8,0.5,2.5,3.0,3.7
3,201151,2007,2007,1610612737,56,6,865,95,237,0.401,...,0.000,0.178,0.165,-0.5,0.4,-0.1,-4.2,-1.0,-5.2,-0.7
4,101136,2005,2007,1610612737,35,0,402,65,180,0.361,...,0.009,0.094,0.252,0.1,0.1,0.3,-1.0,-2.5,-3.5,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,1630648,2021,2021,1610612764,4,0,30,1,11,0.091,...,0.000,0.078,0.191,-0.2,0.0,-0.1,-8.6,-4.4,-13.0,-0.1
8488,1630557,2021,2021,1610612764,77,36,1801,234,514,0.455,...,0.010,0.085,0.146,1.6,0.7,2.3,-0.8,-1.5,-2.3,-0.1
8489,1628398,2017,2021,1610612764,66,66,2204,423,936,0.452,...,0.022,0.141,0.242,0.0,2.0,2.0,0.2,-0.4,-0.2,1.0
8490,203526,2013,2021,1610612764,70,19,1372,204,441,0.463,...,0.002,0.139,0.184,0.7,0.8,1.5,-2.5,-0.5,-3.0,-0.4
8491,1628418,2017,2021,1610612764,27,9,439,77,148,0.520,...,0.041,0.103,0.187,0.7,0.4,1.1,-0.4,-0.7,-1.0,0.1

In [64]:
player_num_cols = player_data_clean.select_dtypes(include=['float64', 'int64'])
columns_to_exclude = ['personID', 'teamID']
player_num_cols = player_num_cols.drop(columns=columns_to_exclude,axis=1)

## awards data part

Next step we will wrangle the awards dataset

In [65]:
awards.columns

Index(['season', 'nbapersonid', 'All NBA Defensive First Team',
       'All NBA Defensive Second Team', 'All NBA First Team',
       'All NBA Second Team', 'All NBA Third Team', 'All Rookie First Team',
       'All Rookie Second Team', 'Bill Russell NBA Finals MVP',
       'Player Of The Month', 'Player Of The Week', 'Rookie Of The Month',
       'all_star_game', 'rookie_all_star_game', 'allstar_rk',
       'Defensive Player Of The Year_rk', 'Most Improved Player_rk',
       'Most Valuable Player_rk', 'Rookie Of The Year_rk',
       'Sixth Man Of The Year_rk', 'all_nba_points_rk',
       'all_rookie_points_rk'],
      dtype='object')

In [66]:
awards

,season,nbapersonid,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,all_star_game,rookie_all_star_game,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
0,2007,708.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,True,False,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN
1,2007,947.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,948.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2007,959.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,True,False,4.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN
4,2007,977.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,True,False,1.0,5.0,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,2015,1626170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
4325,2015,1626202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
4326,2015,1626273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
4327,2018,1628971.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
4328,2020,1630214.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0

let's inspect the dataset

In [67]:
print(awards.isnull().sum())
awards.describe()

season                                0
nbapersonid                           8
All NBA Defensive First Team       3636
All NBA Defensive Second Team      3636
All NBA First Team                 3636
All NBA Second Team                3636
All NBA Third Team                 3636
All Rookie First Team              3636
All Rookie Second Team             3636
Bill Russell NBA Finals MVP        3636
Player Of The Month                3636
Player Of The Week                 3636
Rookie Of The Month                3636
all_star_game                      3645
rookie_all_star_game               3645
allstar_rk                          638
Defensive Player Of The Year_rk    4074
Most Improved Player_rk            3929
Most Valuable Player_rk            4127
Rookie Of The Year_rk              4206
Sixth Man Of The Year_rk           4092
all_nba_points_rk                  3935
all_rookie_points_rk               4063
dtype: int64

,season,nbapersonid,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,Player Of The Week,Rookie Of The Month,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
count,4329.000000,4.321000e+03,693.000000,693.000000,693.000000,693.000000,693.000000,693.000000,693.000000,693.000000,...,693.000000,693.000000,3691.000000,255.000000,400.000000,202.000000,123.000000,237.000000,394.000000,266.000000
mean,2016.687688,1.622733e+06,0.109668,0.108225,0.108225,0.108225,0.108225,0.111111,0.109668,0.021645,...,0.940837,0.233766,58.173124,9.258824,13.540000,7.207921,4.853659,8.177215,18.390863,12.409774
std,3.781453,4.221668e+07,0.312701,0.310889,0.310889,0.310889,0.310889,0.314497,0.312701,0.145627,...,1.175727,0.790231,40.466750,5.409571,7.675329,3.915315,2.804221,4.468608,10.581058,7.031019
min,2007.000000,2.550000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2015.000000,2.015650e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,5.000000,7.000000,4.000000,3.000000,4.000000,9.000000,6.250000
50%,2018.000000,2.034710e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,56.000000,9.000000,13.000000,7.000000,5.000000,8.000000,18.000000,13.000000
75%,2020.000000,1.627885e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,92.000000,13.000000,20.000000,10.000000,7.000000,11.000000,27.000000,18.000000
max,2021.000000,1.962937e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,7.000000,6.000000,157.000000,25.000000,30.000000,17.000000,13.000000,18.000000,41.000000,26.000000

Based on the variable in awards file, we believed that the absence of awards for certain team members can be just as informative as the presence of awards for others, offering a more nuanced understanding of what contributes to overall team success. So we decided to keep them.

In [68]:
null_values_summary2 = awards.isnull().sum()
columns_with_nulls2 = null_values_summary2[null_values_summary2 > 0]
print(columns_with_nulls2)

nbapersonid                           8
All NBA Defensive First Team       3636
All NBA Defensive Second Team      3636
All NBA First Team                 3636
All NBA Second Team                3636
All NBA Third Team                 3636
All Rookie First Team              3636
All Rookie Second Team             3636
Bill Russell NBA Finals MVP        3636
Player Of The Month                3636
Player Of The Week                 3636
Rookie Of The Month                3636
all_star_game                      3645
rookie_all_star_game               3645
allstar_rk                          638
Defensive Player Of The Year_rk    4074
Most Improved Player_rk            3929
Most Valuable Player_rk            4127
Rookie Of The Year_rk              4206
Sixth Man Of The Year_rk           4092
all_nba_points_rk                  3935
all_rookie_points_rk               4063
dtype: int64

Let's look for some specific columns where the players' id is the same. We then noticed that all of them have no other data. We assume that they are less relevent to our analysis later so we can drop them off.

In [69]:
null_nbapersonid_rows = awards[awards['nbapersonid'].isnull()]
null_nbapersonid_rows

,season,nbapersonid,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,all_star_game,rookie_all_star_game,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
1479,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1932,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2402,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3388,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
awards_clean = awards.dropna(subset=['nbapersonid'])

Detecting if there are some duplicate rows.

In [71]:
duplicates2 = awards_clean.duplicated().sum()
print(f"Number of duplicate rows: {duplicates2}")

Number of duplicate rows: 9

In [72]:
duplicated_rows = awards_clean[awards_clean.duplicated()]
duplicated_rows

,season,nbapersonid,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,all_star_game,rookie_all_star_game,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
2867,2018,203710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2870,2018,202498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2871,2018,202969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3384,2017,203710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3385,2017,202498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3386,2017,202969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3801,2016,202498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3802,2016,202969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3804,2016,2034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We found that these players also have less useful information, so we assume that they are also not useful players. For all of the nba players , those who did not receive any rewards as marked as null. We will not consider them, but they are still useful for team performance.

In [99]:
not_useful_players = duplicated_rows['nbapersonid']
not_useful_players

2867    203710.0
2870    202498.0
2871    202969.0
3384    203710.0
3385    202498.0
3386    202969.0
3801    202498.0
3802    202969.0
3804      2034.0
Name: nbapersonid, dtype: float64

In [74]:
print(awards_clean.dtypes)

season                               int64
nbapersonid                        float64
All NBA Defensive First Team       float64
All NBA Defensive Second Team      float64
All NBA First Team                 float64
All NBA Second Team                float64
All NBA Third Team                 float64
All Rookie First Team              float64
All Rookie Second Team             float64
Bill Russell NBA Finals MVP        float64
Player Of The Month                float64
Player Of The Week                 float64
Rookie Of The Month                float64
all_star_game                       object
rookie_all_star_game                object
allstar_rk                         float64
Defensive Player Of The Year_rk    float64
Most Improved Player_rk            float64
Most Valuable Player_rk            float64
Rookie Of The Year_rk              float64
Sixth Man Of The Year_rk           float64
all_nba_points_rk                  float64
all_rookie_points_rk               float64
dtype: object

We found that all_star_game and rookie_all_star_game are objects, but we need them to be consistent for latter analysis. So we first convert all null to 0, which means having a null value will represent no record.

In [75]:
award_columns = ['All NBA Defensive First Team', 'All NBA Defensive Second Team', 
                 'All NBA First Team', 'All NBA Second Team', 'All NBA Third Team', 
                 'All Rookie First Team', 'All Rookie Second Team', 
                 'Bill Russell NBA Finals MVP', 'Player Of The Month', 
                 'Player Of The Week', 'Rookie Of The Month', 'all_star_game', 
                 'rookie_all_star_game', 'allstar_rk', 'Defensive Player Of The Year_rk', 
                 'Most Improved Player_rk', 'Most Valuable Player_rk', 
                 'Rookie Of The Year_rk', 'Sixth Man Of The Year_rk', 
                 'all_nba_points_rk', 'all_rookie_points_rk']

for col in award_columns:
    awards_clean[col].fillna(0, inplace=True)

In [76]:
print(awards_clean.isnull().sum())

season                             0
nbapersonid                        0
All NBA Defensive First Team       0
All NBA Defensive Second Team      0
All NBA First Team                 0
All NBA Second Team                0
All NBA Third Team                 0
All Rookie First Team              0
All Rookie Second Team             0
Bill Russell NBA Finals MVP        0
Player Of The Month                0
Player Of The Week                 0
Rookie Of The Month                0
all_star_game                      0
rookie_all_star_game               0
allstar_rk                         0
Defensive Player Of The Year_rk    0
Most Improved Player_rk            0
Most Valuable Player_rk            0
Rookie Of The Year_rk              0
Sixth Man Of The Year_rk           0
all_nba_points_rk                  0
all_rookie_points_rk               0
dtype: int64

Then we mark all existing object types to 1 and 0 of floating type.

In [77]:
awards_clean['all_star_game'] = awards_clean['all_star_game'].map({False: 0, True: 1}).astype(float)
awards_clean['rookie_all_star_game'] = awards_clean['rookie_all_star_game'].map({False: 0, True: 1}).astype(float)

Convert some feature name to a more readable form.

In [78]:

awards_clean = awards_clean.rename(columns={'nbapersonid': 'personID'})
awards_clean = awards_clean.rename(columns={'all_star_game': 'all_star?'})
awards_clean = awards_clean.rename(columns={'rookie_all_star_game': 'rookie_all_star?'})
awards_clean

,season,personID,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,all_star?,rookie_all_star?,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
0,2007,708.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0
1,2007,947.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,948.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2007,959.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
4,2007,977.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,2015,1626170.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
4325,2015,1626202.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
4326,2015,1626273.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
4327,2018,1628971.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
4328,2020,1630214.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0

In [79]:
awards_clean.head()

,season,personID,All NBA Defensive First Team,All NBA Defensive Second Team,All NBA First Team,All NBA Second Team,All NBA Third Team,All Rookie First Team,All Rookie Second Team,Bill Russell NBA Finals MVP,...,all_star?,rookie_all_star?,allstar_rk,Defensive Player Of The Year_rk,Most Improved Player_rk,Most Valuable Player_rk,Rookie Of The Year_rk,Sixth Man Of The Year_rk,all_nba_points_rk,all_rookie_points_rk
0,2007,708.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0
1,2007,947.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2007,948.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2007,959.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
4,2007,977.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0

Putting all number type of feature in one list.

In [80]:
awards_num_cols = awards_clean.select_dtypes(include=['float64', 'int64'])
columns_to_exclude = ['personID']
awards_num_cols = awards_num_cols.drop(columns=columns_to_exclude)

## team_data part

In [81]:
team_data.columns

Index(['nbateamid', 'team', 'season', 'games', 'off_rtg', 'def_rtg', 'net_rtg',
       'W', 'L'],
      dtype='object')

In [82]:
team_data.head()

    nbateamid team  season  games  off_rtg  def_rtg  net_rtg   W   L
0  1610612737  ATL    2007     82    106.9    108.9     -2.0  37  45
1  1610612751  BKN    2007     82    104.0    109.4     -5.4  34  48
2  1610612738  BOS    2007     82    110.2     98.9     11.3  66  16
3  1610612766  CHA    2007     82    104.6    109.4     -4.8  32  50
4  1610612741  CHI    2007     82    103.9    107.2     -3.3  33  49

Let's inspect the data.

In [83]:
print(team_data.dtypes)

nbateamid      int64
team          object
season         int64
games          int64
off_rtg      float64
def_rtg      float64
net_rtg      float64
W              int64
L              int64
dtype: object

In [84]:
print(team_data.isnull().sum())
team_data.describe()

nbateamid    0
team         0
season       0
games        0
off_rtg      0
def_rtg      0
net_rtg      0
W            0
L            0
dtype: int64

,nbateamid,season,games,off_rtg,def_rtg,net_rtg,W,L
count,4.500000e+02,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,1.610613e+09,2014.000000,79.502222,108.156000,108.156889,-0.000889,39.751111,39.751111
std,8.665075e+00,4.325302,5.190041,3.966808,3.679923,4.955616,12.572119,12.445348
min,1.610613e+09,2007.000000,64.000000,95.200000,98.200000,-15.200000,7.000000,9.000000
25%,1.610613e+09,2010.000000,82.000000,105.300000,105.600000,-3.500000,30.250000,30.000000
50%,1.610613e+09,2014.000000,82.000000,108.100000,108.200000,0.200000,41.000000,39.000000
75%,1.610613e+09,2018.000000,82.000000,111.100000,110.775000,3.600000,49.000000,49.000000
max,1.610613e+09,2021.000000,82.000000,118.300000,117.600000,11.600000,73.000000,72.000000

In [85]:
duplicate3 = team_data.duplicated().sum()
print(f"Number of duplicate rows: {duplicate3}")

Number of duplicate rows: 0

Adding two more features of win percentage and loss percentage.

In [86]:
team_data_clean = team_data
team_data_clean['win_percentage'] = team_data_clean['W'] /team_data_clean['games'] 
team_data_clean['lose_percentage'] = team_data_clean['L'] /team_data_clean['games'] 
team_data_clean['win_percentage'] = team_data_clean['win_percentage'].round(2)
team_data_clean['lose_percentage'] = team_data_clean['lose_percentage'].round(2)
team_data_clean.head()

,nbateamid,team,season,games,off_rtg,def_rtg,net_rtg,W,L,win_percentage,lose_percentage
0,1610612737,ATL,2007,82,106.9,108.9,-2.0,37,45,0.45,0.55
1,1610612751,BKN,2007,82,104.0,109.4,-5.4,34,48,0.41,0.59
2,1610612738,BOS,2007,82,110.2,98.9,11.3,66,16,0.80,0.20
3,1610612766,CHA,2007,82,104.6,109.4,-4.8,32,50,0.39,0.61
4,1610612741,CHI,2007,82,103.9,107.2,-3.3,33,49,0.40,0.60

Changing some features' name to increase readability.

In [87]:
team_data_clean = team_data_clean.rename(columns={'nbateamid': 'teamID'})
team_data_clean = team_data_clean.rename(columns={'team': 'team_name'})
team_data_clean = team_data_clean.rename(columns={'games': 'total_game'})
team_data_clean = team_data_clean.rename(columns={'off_rtg': 'offensive_rate'})
team_data_clean = team_data_clean.rename(columns={'def_rtg': 'defensive_rate'})
team_data_clean = team_data_clean.rename(columns={'net_rtg	': 'net_rate'})
team_data_clean

,teamID,team_name,season,total_game,offensive_rate,defensive_rate,net_rtg,W,L,win_percentage,lose_percentage
0,1610612737,ATL,2007,82,106.9,108.9,-2.0,37,45,0.45,0.55
1,1610612751,BKN,2007,82,104.0,109.4,-5.4,34,48,0.41,0.59
2,1610612738,BOS,2007,82,110.2,98.9,11.3,66,16,0.80,0.20
3,1610612766,CHA,2007,82,104.6,109.4,-4.8,32,50,0.39,0.61
4,1610612741,CHI,2007,82,103.9,107.2,-3.3,33,49,0.40,0.60
...,...,...,...,...,...,...,...,...,...,...,...
445,1610612758,SAC,2021,82,109.9,115.3,-5.4,30,52,0.37,0.63
446,1610612759,SAS,2021,82,112.4,112.3,0.1,34,48,0.41,0.59
447,1610612761,TOR,2021,82,112.9,110.5,2.4,48,34,0.59,0.41
448,1610612762,UTA,2021,82,116.7,110.5,6.2,49,33,0.60,0.40
449,1610612764,WAS,2021,82,111.1,114.5,-3.4,35,47,0.43,0.57

In [88]:
team_num_cols = team_data_clean.select_dtypes(include=['float64', 'int64'])
columns_to_exclude = ['teamID']
team_num_cols = team_num_cols.drop(columns=columns_to_exclude,axis=1)

## rebounding data part

In [89]:
rebounding_data.columns

Index(['team', 'opp_team', 'gamedate', 'game_number', 'offensive_rebounds',
       'off_rebound_chances', 'oreb_pct'],
      dtype='object')

Let's inspect the data.

In [90]:
rebounding_data.head()

,team,opp_team,gamedate,game_number,offensive_rebounds,off_rebound_chances,oreb_pct
0,BOS,PHI,2022-10-18,1,10,39,0.256410
1,PHI,BOS,2022-10-18,1,8,42,0.190476
2,GSW,LAL,2022-10-18,1,16,57,0.280702
3,LAL,GSW,2022-10-18,1,14,57,0.245614
4,ORL,DET,2022-10-19,1,13,47,0.276596

In [91]:
rebounding_data.dtypes

team                    object
opp_team                object
gamedate                object
game_number              int64
offensive_rebounds       int64
off_rebound_chances      int64
oreb_pct               float64
dtype: object

In [92]:
print(rebounding_data.isnull().sum())
rebounding_data.describe()

team                   0
opp_team               0
gamedate               0
game_number            0
offensive_rebounds     0
off_rebound_chances    0
oreb_pct               0
dtype: int64

       game_number  offensive_rebounds  off_rebound_chances     oreb_pct
count  2460.000000         2460.000000          2460.000000  2460.000000
mean     41.500000           13.741057            48.921138     0.277861
std      23.674413            4.643713             7.142900     0.075100
min       1.000000            1.000000            28.000000     0.033333
25%      21.000000           10.000000            44.000000     0.225000
50%      41.500000           13.000000            49.000000     0.277778
75%      62.000000           17.000000            53.000000     0.333333
max      82.000000           30.000000            81.000000     0.547170

In [93]:
duplicates4 = rebounding_data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates4}")

Number of duplicate rows: 0

In [94]:
rebounding_data['gamedate'].unique()

array(['2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21',
       '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25',
       '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-29',
       '2022-10-30', '2022-10-31', '2022-11-01', '2022-11-02',
       '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06',
       '2022-11-07', '2022-11-09', '2022-11-10', '2022-11-11',
       '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15',
       '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19',
       '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23',
       '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
       '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
       '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06',
       '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
       '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
       '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
       '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
       '2022-12-23', '2022-12-25', '2022-12-26', '2022-12-27',
       '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31',
       '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
       '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
       '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
       '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
       '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
       '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
       '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
       '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
       '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
       '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
       '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
       '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-23',
       '2023-02-24', '2023-02-25', '2023-02-26', '2023-02-27',
       '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03',
       '2023-03-04', '2023-03-05', '2023-03-06', '2023-03-07',
       '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-11',
       '2023-03-12', '2023-03-13', '2023-03-14', '2023-03-15',
       '2023-03-16', '2023-03-17', '2023-03-18', '2023-03-19',
       '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23',
       '2023-03-24', '2023-03-25', '2023-03-26', '2023-03-27',
       '2023-03-28', '2023-03-29', '2023-03-30', '2023-03-31',
       '2023-04-01', '2023-04-02', '2023-04-04', '2023-04-05',
       '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09'],
      dtype=object)

Based on this, we know that the rebounding data starts from 2022-10-18.

In [95]:
rebounding_data

,team,opp_team,gamedate,game_number,offensive_rebounds,off_rebound_chances,oreb_pct
0,BOS,PHI,2022-10-18,1,10,39,0.256410
1,PHI,BOS,2022-10-18,1,8,42,0.190476
2,GSW,LAL,2022-10-18,1,16,57,0.280702
3,LAL,GSW,2022-10-18,1,14,57,0.245614
4,ORL,DET,2022-10-19,1,13,47,0.276596
...,...,...,...,...,...,...,...
2455,LAC,PHX,2023-04-09,82,18,56,0.321429
2456,MEM,OKC,2023-04-09,82,12,55,0.218182
2457,POR,GSW,2023-04-09,82,11,61,0.180328
2458,SAC,DEN,2023-04-09,82,12,50,0.240000
2459,MIN,NOP,2023-04-09,82,11,49,0.224490

Converting the features name to make them more readable.

In [96]:
rebounding_data_clean = rebounding_data
rebounding_data_clean = rebounding_data.rename(columns={'opp_team': 'opposite_team_name'})
rebounding_data_clean = rebounding_data.rename(columns={'team': 'team_name'})
rebounding_data_clean = rebounding_data.rename(columns={'oreb_pct': 'Offensive_rebound_perc'})
rebounding_data_clean

,team,opp_team,gamedate,game_number,offensive_rebounds,off_rebound_chances,Offensive_rebound_perc
0,BOS,PHI,2022-10-18,1,10,39,0.256410
1,PHI,BOS,2022-10-18,1,8,42,0.190476
2,GSW,LAL,2022-10-18,1,16,57,0.280702
3,LAL,GSW,2022-10-18,1,14,57,0.245614
4,ORL,DET,2022-10-19,1,13,47,0.276596
...,...,...,...,...,...,...,...
2455,LAC,PHX,2023-04-09,82,18,56,0.321429
2456,MEM,OKC,2023-04-09,82,12,55,0.218182
2457,POR,GSW,2023-04-09,82,11,61,0.180328
2458,SAC,DEN,2023-04-09,82,12,50,0.240000
2459,MIN,NOP,2023-04-09,82,11,49,0.224490

In [97]:
rebounding_num_cols = rebounding_data_clean.select_dtypes(include=['float64', 'int64'])

## exporting cleaned data

In [98]:
player_data_clean.to_csv('data/cleaned_Data/cleaned_player.csv', index=False)
team_data_clean.to_csv('data/cleaned_Data/cleaned_team.csv', index=False)
awards_clean.to_csv('data/cleaned_Data/cleaned_awards.csv', index=False)
rebounding_data_clean.to_csv('data/cleaned_Data/cleaned_rebounding.csv', index=False)